.layui-form-item {
    clear: both;
    margin-bottom: 0;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: auto;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.submitBtn {
    margin: auto;
    width: 250px;
}
