@model ResearchHome.Areas.Introduction.Models.Members

@inject ResearchHome.Helper.ViewInjectHelper viewInjectHelper

<div class="div-table-record">
    <div class="partItem">
        <span>积分记录(<i style="font-size:14px;color:red" id="integralsTitle"></i>)</span>
        @if (!Model.IsLeave && viewInjectHelper.CurrentUserInfo("IsAdmin") == "True")
        {
            <div onclick="editIntegrals(@Model.Id, 0, '添加积分')">
                <img src="/images/PromptImg/add.png" style="width:14px;height:14px;float:left;margin-top: 3px;" /><span style="font-size:14px;">添加积分</span>
            </div>
        }
    </div>
    <div id="integralsContent" style="width:100%;">
        <table id="table_integrals" lay-filter="integrals"></table>
    </div>
   
</div>

<script type="text/html" id="integralsTable">
    <div style="float:left;margin-right: 5px;width: 334px; overflow: hidden;" title="{{ d.Description }}">{{ d.Description == null ? "" : d.Description }}</div>
    {{# var viewUserId = '@viewInjectHelper.CurrentUserInfo("IsAdmin")';  }}
    {{# if(viewUserId === 'True' && '@Model.IsLeave' != 'True'){ }}
    <div class="toolPanl" style="float:right;">
        <a lay-event="changeTask" style="cursor:pointer;" onclick="editIntegrals('@Model.Id', {{ d.Id }}, '编辑积分' )" title="编辑">
            <img src="/images/PromptImg/Edit.png" style="width:16px;height:16px;" />
        </a>
        <a lay-event="changeTask" style="cursor:pointer;" onclick="deleteIntegral({{ d.Id }})" title="删除">
            <img src="/images/PromptImg/Obsolete.png" style="width:16px;height:16px;" />
        </a>
    </div>
    {{# } }}
</script>
